<%- include("partials/_header") %>

<h1>home</h1>
<div class="input-container">
  <a href="/login" class="btn can-btn">Login</a>
  <a href="/register" class="btn save-btn">Register</a>
</div>
<a href="/blogs" class="btn">Blog</a>

<%- include("partials/_footer") %>
