<%- include("partials/_header") %>

<div>
  <h1>Quote</h1>
  <a href="/" class="btn can-btn">Home</a>
  <a href="/auth/logout" class="btn save-btn">Logout</a>
</div>

<%- include("partials/_footer") %>
