.App {
  text-align: center;
}

.one,
.two {
  width: 300px;
  margin: 0 auto;
}
.img-container {
  width: 100%;
  height: 250px;
  background-color: #4f6877;
  position: relative;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 210px;
  display: inline-block;
}
.btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #6bbe92;
  margin-top: 1rem;
}
.arr-box {
  width: 100%;
  min-height: 50px;
  background-color: #4f6877;
  padding: 1rem 0;
}
li {
  list-style: none;
}
.btn-two {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background-color: #f16100;
  font-size: 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
}
