* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}
body {
  width: 100vw;
  height: 100vh;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

/* header */
.navbar {
  z-index: 999;
  /* position: fixed; */
}
#humberger {
  opacity: 0;
  position: fixed;
}
#menu {
  width: 100vw;
  display: flex;
  justify-content: right;
  padding: 0.5rem;
  background-color: #a7cbd9c4;
}
#menu a {
  color: #fff;
  padding: 1rem;
}

.hero-container {
  width: 100vw;
  position: relative;
}

.hero {
  display: inline-block;
  position: relative;
  object-fit: contain;
  width: 70%;
  height: auto;
  opacity: 0.8;
}
.hero::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(153, 153, 153, 0);
  box-shadow: inset -180px 0 300px #fff;
}
.hero-container .logo {
  position: absolute;
  top: 50%;
  right: 13%;
  transform: translate(-13%, -50%);
}

#yukihand {
  fill: none;
  stroke: #fff;
  stroke-width: 90; /*線の太さを指定する*/
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 1500; /* 線の間隔を指定する */
  stroke-dashoffset: 1500; /* 線の位置を指定する */
}
/* main */

.content-bar {
  z-index: 1;
  margin: 1rem;
  position: absolute;
  top: 30%;
  right: 0.5rem;
  transform: translate(-0.5rem, -30%);
}
.content-bar .cercle {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.01);
  box-shadow: 0 0 0 1px #666;
}
.content-bar .dash {
  width: 1px;
  height: 1.5rem;
  background-color: #666;
}
.content-bar p {
  color: #666;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  margin: 1.5rem auto;
  letter-spacing: 3px;
  font-size: 13;
  text-align: right;
}

main {
  position: sticky;
  top: 0;
}
#about,
#shopping,
#categories,
#activities {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
}

/* --- news --- */
#news {
  position: relative;
  /* position: sticky;
  top: 0%; */
  height: 70vh;
}
.news-slide {
  height: 80%;
  margin: 2rem auto;
  position: relative;
}
.one {
  display: flex;
  justify-content: center;
  align-items: baseline;
  vertical-align: middle;
  margin: 0 auto;
}
.news-img {
  width: 500px;
  height: 400px;
  object-fit: contain;
}
.one p {
  float: right;
  margin: 5rem;
  width: 400px;
}
.link {
  width: 200px;
  height: 70px;
  background-color: #d9401ece;
  transition: 0.7s;
}
.news-link {
  position: absolute;
  bottom: -5%;
  right: 9%;
}
.a-text {
  width: 100%;
  color: #fff;
  margin-left: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow {
  color: #fff;
  margin-left: 0.7rem;
  transition: 0.7s;
}
.link:hover {
  background-color: #d9401e;
}
.link:hover .arrow {
  margin-left: 1.5rem;
}
.link:hover .arrow::after {
  content: ">";
}

/* --- about --- */
#about {
  background-color: #ddd;
}
.about-contain {
  width: 100%;
  height: 100vh;
  background: url("../image/about-img1.png") no-repeat 70% 50%;
  background-size: 70% 70%;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}
.text-content {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  background-color: #4494a663;
}
.about-texts {
  margin: 2rem 5rem 0;
}
.about-texts h2 {
  color: #fff;
  letter-spacing: 5px;
  line-height: 6rem;
  font-size: 8rem;
  text-align: right;
  margin-top: 2rem;
}
.about-p {
  width: 70%;
  color: #fff;
}

/* --- shopping --- */
.shop-container {
  width: 100%;
}
.explain-items {
  display: flex;
  margin: 5rem;
}
.shop-img img {
  width: 400px;
  height: auto;
}
.shop-texts {
  margin: auto 5rem;
}
.shop-imgs {
  text-align: center;
}
.shop-imgs img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}
.shop-link {
  /* position: absolute;
  bottom: -5%;
  right: 9%; */
}

/* footer */

.f-menu {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  font-size: 15px;
}
.logo {
  margin: auto 0;
  font-size: 20px;
}
.f-menu ul li {
  padding: 0.25rem;
}
.copy {
  font-size: 13px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5rem;
  color: #fff;
  background-color: #555;
}

/* ---------- */

/* tablet */
@media (max-width: 890px) {
  /* humberger menu */
  #humberger {
    opacity: 0;
    position: fixed;
  }
  label .lines {
    position: fixed;
    top: 1.3rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
  }
  .line1 {
    position: absolute;
    right: 0;
    width: 1.5rem;
    height: 0.15rem;
    background-color: #333;
    transition: all 0.5s;
  }
  .line2 {
    position: absolute;
    top: 0.5rem;
    right: 0;
    width: 1rem;
    height: 0.15rem;
    background-color: #333;
    transition: all 0.5s;
  }
  #menu {
    margin-top: 3rem;
    position: fixed;
    top: -650px;
    transition: all 1s;
    width: 100%;
  }
  #menu a {
    display: block;
    text-align: center;
    padding: 1rem;
  }
  .lines:hover {
    cursor: pointer;
  }
  #humberger:checked ~ #menu {
    top: 0;
  }
  #humberger:checked + label .lines .line1 {
    top: 10%;
    width: 80%;
    transform: rotate(-45deg);
  }
  #humberger:checked + label .lines .line2 {
    top: 10%;
    width: 80%;
    transform: rotate(45deg);
  }
  #humberger:checked ~ .light-dark {
    background-color: #333;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}

#about {
}
.about-text {
}
.about-text p {
}

/* smafo */
@media (max-width: 500px) {
}
